.full-width {



    background-image: cover;
    background-image: url(images/donation6.jpg);
    background-size: 100%;


}

.middle {

    text-align: center;
    color: ;
    padding: 100px;


}

.link-button {
    text-decoration: none;
    color: white;
    padding: 10px 40px;
    border-radius: 5px;
    background-image: linear-gradient(orange, tomato);
    font-weight: 700;

}

.donate {
    padding: 100px;
    text-align: center;
}

.adjust {
    display: flex;
    text-align: center;

    margin-left: 35%;
    margin-top: 0%;
}

.adjust1 {
    display: flex;
    text-align: center;
    padding: 40px;
    ;
    


}
.color{
    border: 0.5px solid red;
    padding: 5px 4px;
    border-radius: 5px;
}
.link-button1{
    text-decoration: none;
    color: white;
    padding: 10px 40px;
    border-radius: 5px;
    background-image: linear-gradient(orange, tomato);
    font-weight: 700;
}
.difference{
    color: orangered;
}
.plane{
    text-align: center;
    padding: 40px;
    display: flex;
}


.all{
    display: flex;
    text-align: left;
}
.donate1{
    text-align: center;
    padding: 100px;
}
.back{
    background-color: wheat;
}